*.d
*.o
*.out
*.elf
*.bin
*.exe
*.dll
*.dylib
*.so
*.lib
*.pdb
*.exp
*.pyc
*.thunderstore.zip
*.nrm
./funcs.h
patches.map
assets_extracted/
build/
runtime/
.vscode/
user_build_config.json
CMakeUserPresets.json
MM-recomp/
N64Recomp/
src/mod/test2.c_ignorepls
unit_tests/
.vscode/c_cpp_properties.json
src/mod/sound_randomizer.c
src/mod/sound_randomizer.h
src/mod/song_name_display.c
.gitignore
src/mod/song_name_display.h
