*.d
*.o
*.elf
*.bin
*.exe
*.dll
*.lib
*.pdb
*.exp
./funcs.h
patches.map
build/
.vscode/settings.json
MM-recomp
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
Legend of Zelda, The - Majora's Mask (U) \[!].z64
.gitignore
mm-decomp
.gitignore
src/debug_util.c
music/
.vs
.vscode