[submodule "Zelda64RecompSyms"]
	path = Zelda64RecompSyms
	url = https://github.com/Zelda64Recomp/Zelda64RecompSyms
[submodule "mm-decomp"]
	path = mm-decomp
	url = https://github.com/zeldaret/mm
[submodule "libzippp"]
	path = libzippp
	url = https://github.com/ctabin/libzippp.git
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip.git
